.Classify-container {
    padding : 0 30px ;
    margin : 30px auto 80px ;  
}

.Classify-container .top {
    flex-direction: row;
    display: flex;  
    width: 100%;
    height: 500px;
    margin-bottom: 30px; 
}

.Classify-container .video-container {
    width: 900px;
    background-color: #fff;
    text-align: center;
    margin-right: 30px;
    box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}

.Classify-container .nord-lable {
    width: 400px;
    background-color: #fff;
    box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    padding: 20px;
}

.Classify-container .nord-lable h2 {
    text-align: center;
    font-weight: 600;
    color: blue;
    margin-bottom: 10px;
}

.Classify-container .nord-lable ul {
    margin: 30px;
    text-align: left;
}

.Classify-container .nord-lable li {
    margin: 10px;
    color: rgb(49, 48, 48);
}

.Classify-container .Statestic {
    text-align: center;
    width: 700px;
    height: 500px;
    background-color: #fff;
    box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .Classify-container .top {
        flex-direction: column;
        margin-bottom: 50px;
    }
  
    .Classify-container .video-container {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .Classify-container .nord-lable {
        width: 350px;
    }

    .Classify-container .Statestic {
        width: 100%;
    }
}