.form-container-update {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding : 0 10% ;
  margin : 0px auto 0 ;
}

.big-form-update{
  flex-direction: column;
  display: flex;

  font-weight: bold;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.45);
  color: #283141;
  font-size: large;
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 7px;  
}

.form-update {  
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
  align-items: center;
}

.left-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.right-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form--input-update {
  width: 100%;
  margin-bottom: 20px;
  height: 47px;
  border-radius: 5px;
  border: 2px solid #dbdbdb;
  padding: 5px 10px;
  letter-spacing: 1.5px;
  outline: none;
  margin: 25px 80px 0px 80px;
  margin-right: 80px;
  margin-top: 5px;
  margin-left: 80px;
  margin-bottom: 20px;
  text-decoration: none;
}

.form--input-update:hover {
  border: 2px solid #97b7c7;
}

.form--input-update:focus {
  border: 2px solid #97b7c7;
}

.form--submit-update {
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  color: #97b7c7;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #97b7c7;
  cursor: pointer;
}

.form--submit-update:hover {
  background-color: #d4ebf5;
  border: 2px solid #97b7c7;
  color: #255974;
}

.errur-update {
  color: #D8000C;
  background-color: #FFD2D2;
  padding:12px;
  justify-content: left;
  margin-bottom: 30px;
  margin-top: -20px;
}
.bar-update{
    border: none;
    background-color: #97b7c7;
    width: 2px;
    height: 270px;
    margin: 30px;

}