.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 9.99vh;
  list-style: none;
  text-align: start;
  background: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 10px -4px #0384c6;
}

.dropdown-menu li:hover {
  background: rgb(236, 247, 255);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #283141;
  padding: 16px;
  font-weight: 600;
}

.drop-item {
    text-decoration: none;
    display: flex;
    align-items: center;
}